@import "/src/styles/colors";

.cs_info_card_container {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
}

.cs_info_card_text {
  font-size: 18px;
}

.info_card_container{
    width: 100%;
}

.cs_card_img_container{
    height: auto;
    width: 100%;
}