@import "/src/styles/colors";

.cs_home_component_wrapper {
  margin: 60px 120px 0 120px;
}

.items_country_single :global(.ant-collapse-content) {
  background-color: $primaryColorLight !important;
  border: none !important;
}

.items_country_single :global(.ant-collapse) {
  border: none !important;
}

.items_country_single :global(.ant-collapse-header) {
  padding: 10px 25px !important;
  background-color: $primaryColor !important;
  color: #fff !important;
  font-weight: 700;
  font-size: 16px;
  &:hover {
    background-color: $secondaryColor !important;
    color: $whiteColor !important;
  }
}

.cs_hr{
  border: none;
  margin: 18px 0;
  border-top: 1px dotted rgba(0, 0, 0, 0.413);
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 100%;
}

.title {
  font-size: 28px;
  font-weight: 600;
}

.img_container {
  min-height: 200px;
  height: 200px;
  overflow: hidden; /* Ensure overflow is hidden */
  margin-bottom: 1em; /* Add margin for spacing */
}

.side_img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove bottom space */
  object-fit: cover; /* Ensure the image covers the container */
  border-radius: 5px; /* Optional: add rounded corners */
}

.img_container_uni {
  min-height: 500px;
  height: 500px;
  overflow: hidden; /* Ensure overflow is hidden */
  margin-bottom: 1em; /* Add margin for spacing */
}

.side_img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove bottom space */
  object-fit: cover; /* Ensure the image covers the container */
  border-radius: 5px; /* Optional: add rounded corners */
}

.country_title {
  font-size: 15px;
  line-height: 1.6;
  color: $offBlackTxtColor;
}

.side_country_title {
  font-size: 24px;
  text-align: center;
  line-height: 1.6;
  font-weight: 800;
  color: $offBlackTxtColor;
  &:hover {
    color: $primaryColor;
  }
}

.university_overview_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
  tr {
    &:nth-child(even) {
      background-color: #f2f2f2;
    }
  }
  td {
    border: 1px solid #ddd;
    padding: 8px;
    &:first-child {
      font-weight: bold;
      background-color: #f9f9f9;
    }
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $primaryColor;
    color: white;
  }
}

.cs_li_steps {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: $offBlackTxtColor;
}

@media (max-width: 768px) {
  .cs_home_component_wrapper {
    margin: 10px;
  }
}
