.decorate_divider_container {
  height: 50px; /* Adjust height as needed */
  background-image: url("./assets/download.svg");
  background-repeat: repeat-x;
  background-size: auto; /* or adjust to your needs */
  background-position: center;
}
