@import "/src/styles/functions";

.cs_sticky_nav {
  position: sticky;
  top: 0;
  z-index: 99999;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

/* layout.template.module.scss */
.mobileView {
  display: none;
}

.desktopView {
  display: block;
}

.footer_container {
  padding-left: 80px;
  padding-right: 80px;
}

@media (max-width: 768px) {
  .mobileView {
    display: block;
  }

  .desktopView {
    display: none;
  }

  .footer_container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
