@import "/src/styles/functions";
@import "/src/styles/colors";

.cs_logo_mob {
  height: 100%;
  width: auto;
}

.cs_mob_nav_header :global(.ant-collapse-header) {
  display: flex;
  align-items: center !important;
}
.cs_mob_nav_header :global(.ant-collapse-item) {
  background-color: #fff !important;
}

.cs_mob_nav_nested_header :global(.ant-collapse-header) {
  padding-top: 0px !important;
  display: flex;
  align-items: center !important;
}
.cs_mob_nav_nested_header :global(.ant-collapse-item) {
  padding-top: 0px !important;
  background-color: #fff !important;
}

.cs_logo_container_mob {
  height: 60px;
}

.burger_icon {
  fill: #16163f;
  width: 1.5em;
  height: 1.5em;

  &:focus,
  &:hover {
    fill: $primaryColor;
  }
}

.ant-collapse-header:focus {
  background-color: transparent;
}

// Uncomment if needed
// .cs_bottom_menu {
//   border: solid #EAEAEA 1px;
//   padding: 5px;
// }

.cs_top_menu {
  border-top: solid #eaeaea 1px;
}

.cs_menu_active_bg {
  background: $primaryColor !important;
  color: #fff !important;
}

.cs_nav_bar_title_container {
  display: flex !important;
  justify-content: center !important;
  padding: 8px !important;
  margin: 0px !important;
}

.dropdown {
  line-height: 1;
  margin: 5px 0 5px 5px;
  margin-top: -5px;
  margin-bottom: -5px;
  display: flex;
  align-items: center;
}
